@import "tailwindcss";
@import "uniwind";

@theme {
  --color-background: #FAF9EE;
  --color-foreground: #414141;
  --color-card: #FAF9EE;
  --color-card-foreground: #414141;
  --color-popover: #FAF9EE;
  --color-popover-foreground: #414141;
  --color-primary: #718619;
  --color-primary-foreground: #FAF9EE;
  --color-secondary: #E2E1DC;
  --color-secondary-foreground: #414141;
  --color-muted: #E2E1DC;
  --color-muted-foreground: #96958F;
  --color-accent: #E2E1DC;
  --color-accent-foreground: #414141;
  --color-destructive: #E84C4C;
  --color-destructive-foreground: #FAF9EE;
  --color-border: #D3D2CB;
  --color-input: #C8C7BE;
  --color-ring: #718619;
}

@layer base {
  :root {
    --background: #FAF9EE;
    --foreground: #414141;
    --card: #FAF9EE;
    --card-foreground: #414141;
    --primary: #718619;
    --primary-foreground: #FAF9EE;
    --secondary: #E2E1DC;
    --secondary-foreground: #414141;
    --muted: #E2E1DC;
    --muted-foreground: #96958F;
    --border: #D3D2CB;
    --input: #C8C7BE;
    --destructive: #E84C4C;
  }
}

.font-sans {
  font-family: 'SpotifyMix-Regular';
}

.font-medium {
  font-family: 'SpotifyMix-Medium';
}

.font-semibold {
  font-family: 'SpotifyMix-Bold';
}

.font-bold {
  font-family: 'SpotifyMix-Bold';
}

.font-extrabold {
  font-family: 'SpotifyMix-Extrabold';
}

.font-black {
  font-family: 'SpotifyMix-Black';
}

.font-light {
  font-family: 'SpotifyMix-Light';
}

.font-thin {
  font-family: 'SpotifyMix-Thin';
}